{% extends 'base_template.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/update_profile.css') }}">
{% endblock %}

{% block content %}
<div class="main">
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img mt-2" src="{{ url_for('static', filename='images/profile.png') }}"
                alt="user_image">
            <div class="media-body">
                <h2 class="account-heading mt-4">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
    </div>
    <form class='text-center mt-5 container' style="width: 60%;" action="{{ url_for('main.update_profile') }}" method='POST'>
        <h1 class='display-4 text-center'>Change Profile Info</h1><br>
        <div class="input-box">
            <i class="fa fa-user"></i>
            <input type="text" name="username" value="{{ current_user.username }}" placeholder="Enter your name"
                required autofocus>
        </div>
        <div class="input-box">
            <i class="fa fa-university"></i>
            <select name="campus" class="options" placeholder='Select Campus' required autofocus>
                <option value='-1' name='book' class="text-muted">Don't Change</option>
                {% for campus in campuses %}
                {% if campus != current_user.campus %}
                <option value='{{ campus.id }}' name='book'>{{ campus.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="input-box">
            <i class="fa fa-graduation-cap"></i>
            <select name="group" class="options" placeholder='Select Group' required autofocus>
                <option value='-1' name='book' class="text-muted">Don't Change</option>
                {% for group in groups %}
                {% if group != current_user.group %}
                <option value='{{ group.id }}' name='book'>{{ group.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="input-box">
            <i class="fa fa-briefcase"></i>
            <select name="major" class="options" placeholder='Select Major' required autofocus>
                <option value='-1' name='book' class="text-muted">Don't Change</option>
                {% for major in majors %}
                {% if major != current_user.major %}
                <option value='{{ major.id }}' name='book'>{{ major.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <button class='btn btn-lg btn-dark btn-block' style="background-color: #120143;" type='submit'>Update
            Information</button>
    </form>
</div>
{% endblock %}